apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  url: http://localhost:{{ prometheus_http_port }}
  isDefault: false
  version: 1
  editable: false