apiVersion: 1

deleteDatasources:
  - name: loki
    orgId: 1

datasources:
- name: Loki
  type: loki
  access: proxy
  url: http://localhost:{{ loki_http_port }}
  isDefault: false
  version: 1
  editable: false