<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Monitor server</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    Notice that this is a server set up to play with grafana, loki, and such. Security is lacking, and it should not be used in production.

    <h1>Services on this server</h1>

    <h2>SSH</h2>
    This is enabled and on port 22. Use `ssh {{ ansible_user }}:{{ ansible_host }}`.

    {% if install_grafana %}
    <h2>Grafana</h2>
    Go here <a href="http://{{ ansible_host }}:{{grafana_http_port}}" target="_blank">http://{{ ansible_host }}:{{grafana_http_port}}</a>
    <br />
    Default username and password is `admin:{{grafana_admin_pass}}`
    <br />
    <a href="https://www.scaleyourapp.com/what-is-grafana-why-use-it-everything-you-should-know-about-it/">What is grafana?</a>
    {% endif %}

    <h2>Metrics</h2>
    {% if install_prometheus %}
    <h3>Prometheus</h3>
    Use <a href="http://{{ ansible_host }}:{{prometheus_http_port}}" target="_blank">http://{{ ansible_host }}:{{prometheus_http_port}}</a> as url for grafana datasource
    <br />
    <a href="https://prometheus.io/docs/introduction/overview/">What is prometheus?</a>
    {% endif %}

    {% if install_node_exporter %}
    <h3>Node exporter</h3>
    Scrape from <a href="http://{{ ansible_host }}:{{node_exporter_http_port}}" target="_blank">http://{{ ansible_host }}:{{node_exporter_http_port}}</a> in prometheus
    <br />
    <a href="https://prometheus.io/docs/guides/node-exporter/">What is node exporter?</a>
    {% endif %}

    <h2>Logs</h2>

    {% if install_loki %}
    <h3>Loki</h3>
    Use <a href="http://{{ ansible_host }}:{{loki_http_port}}" target="_blank">http://{{ ansible_host }}:{{loki_http_port}}</a> as url for the loki datasource in grafana
    <br />
    <a href="https://grafana.com/oss/loki/#:~:text=Loki%20is%20a%20horizontally%20scalable,labels%20for%20each%20log%20stream">What is loki?</a>
    {% endif %}

    {% if install_promtail %}
    <h3>Promtail</h3>
    Go to <a href="http://{{ ansible_host }}:{{promtail_http_port}}" target="_blank">http://{{ ansible_host }}:{{promtail_http_port}}</a>
    <br />
    This is for troubleshooting. Promtail is set to push to loki.
    <br />
    <a href="https://grafana.com/docs/loki/latest/clients/promtail/#:~:text=Promtail%20is%20an%20agent%20which,applications%20needed%20to%20be%20monitored.">What is Promtail?</a>
    {% endif %}

  </body>
</html>