[Unit]
Description=netflow capture daemon, %I instance
Documentation=man:nfcapd(1)
After=network.target auditd.service
PartOf=nfdump.service

[Service]
Type=forking
PermissionsStartOnly=True
RuntimeDirectory={{ nfsen_run_dir_name }}
RuntimeDirectoryMode=0755
User={{ nfdump_user }}
Group={{ nfsen_group }}
EnvironmentFile=/etc/nfdump/%I.conf
ExecStart=/usr/bin/nfcapd -D -P {{nfdump_run_dir}}/nfcapd.%I.pid $options
PIDFile={{nfdump_run_dir}}/nfcapd.%I.pid
KillMode=process
Restart=no

[Install]
WantedBy=multi-user.target
