server {
    listen 80;
    listen [::]:80;
    root {{ nfsen_dir }};
    index index.html index.htm;
    server_name {{ nfsen_hostname }};

    location / {
        rewrite ^/$ /frontend break;
    }

    # we only do php on api
    location /api {
        if (!-e $request_filename) {
            rewrite ^/api/(.*)$ /backend/index.php?request=$1 break;
        }
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;

    }

} 