[Unit]
Description=nfsen-ng daemon
Requires=network.target nfdump.service {{ systemd_webservice_name }}

[Service]
RuntimeDirectory={{ nfsen_run_dir_name }}
PIDFile={{ nfsen_run_dir }}/nfsen-ng.pid
WorkingDirectory={{ nfsen_dir }}/backend/
ExecStart=/usr/bin/php {{ nfsen_dir }}/backend/listen.php
Restart=always
Type=simple
KillMode=process
User={{ nfsen_user }}
Group={{ nfsen_group }}
StandardOutput=null
StandardError=syslog
ProtectSystem=full
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target