server:
  http_listen_port: {{ promtail_http_port }}
  grpc_listen_port: 0

positions:
  filename: {{ loki_data_dir }}/positions.yaml

clients:
  - url: "http://localhost:{{loki_http_port}}/loki/api/v1/push"

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      __path__: /var/log/*log
      hostname: {{ inventory_hostname }}